<app-navbar></app-navbar>
<div class="div-container">
  <form #questionForm="ngForm" (ngSubmit)="getQuestionFormData(questionForm.value)">
    <label>Description</label>
    <br />
    <textarea ngModel name="Description"></textarea>
    <br />
    <select ngModel name="Category">
      <option value="0">Question</option>
      <option value="1">Challenger</option>
    </select>
    <br />
    <select ngModel name="Level">
      <option value="0">Soft</option>
      <option value="1">Moderate</option>
      <option value="2">Hot</option>
    </select>
    <button>Send</button>
  </form>
</div>
