<table mat-table [dataSource]="datasource" class="mat-elevation-z8" matSort>
  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let question"> {{question['id']}} </td>
  </ng-container>
  <!-- Description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> description </th>
    <td mat-cell *matCellDef="let question"> {{question['description']}} </td>
  </ng-container>
  <!-- Category -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> category </th>
    <td mat-cell *matCellDef="let question"> {{question['category']}} </td>
  </ng-container>
  <!-- Level -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> level </th>
    <td mat-cell *matCellDef="let question"> {{question['level']}} </td>
  </ng-container>
  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <tr><th mat-header-cell *matHeaderCellDef> Actions </th></tr>
    <tr>
      <td mat-cell *matCellDef="let row" style="width:20%">
        <a href="edit/{{row['id']}}" mat-icon-button color="primary" title="Edit Question"><mat-icon>edit</mat-icon></a>
        <button  mat-icon-button color="warn" title="Delete Question" (click)="DeleteQuestion(row['id'])"><mat-icon>delete</mat-icon></button>
      </td>
    <tr>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

